
body {
    font-family: sans-serif;
    background-color: orange;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.content{
    font-family: comin-sans;
    background-color:grey;
    margin-top:60px;
}
#intro{
    color:magenta;
    background-color:orange;
}
#main{
    color:cyan;
    background-color: green;
}
